.color-form {
    font-family: system-ui, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
    max-width: 300px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.color-label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

.inputs-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
}
.app-title {
    display: flex;
    justify-content: center;
}
.color-input {
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.text-input {
    flex: 1;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: monospace;
}

.color-preview {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-preview-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.color-swatch {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #fafafa;
}
.color-swatch:hover {
    background-color: #d3e3ed;
    transition: background-color 0.3s ease;
}

.swatch-box {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.swatch-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.info-code__copy {
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.info-code__copy:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.info-code__label {
    margin-right: 0.2rem;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    appearance: none;
}
